
@{
    ViewBag.Title = "Groupings";
}

<h2>Groupings</h2>

<h3>Jumbotron</h3>

<div class="jumbotron">
    <h1>Jumbotron heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<h3>Label</h3>

<span class="label label-default">Label content</span>

<h3>Panel</h3>

<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
</div>