
@{
    ViewBag.Title = "Objects";
}

<h2>Objects</h2>

<h3>Glyphicons</h3>

<span class="glyphicon glyphicon-info-sign"></span>
<span class="glyphicon glyphicon-calendar"></span>
<span class="glyphicon glyphicon-shopping-cart"></span>

<h3>Dropdowns</h3>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

<h3>Simple Button</h3>

<button type="button" class="btn btn-default">Left</button>

<h3>Enhanced Buttons</h3>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
    <input type="radio" name="shipping" id="ground" checked />Ground
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="shipping" id="two-day" />Two Day
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="shipping" id="overnight" />Overnight
    </label>
</div>
