@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li class="active">Really About</li>
</ol>

<div class="jumbotron">
    <h1>Jumbotron heading <span class="glyphicon glyphicon-thumbs-up"></span></h1>

    
    <span class="glyphicon glyphicon-calendar"></span>

    <div class="panel panel-default">
        <div class="panel-heading">List of things</div>
        <div class="panel-body">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="label label-success">Hooray!</span> </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="label label-danger">Danger!</span></p>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            
        </div>
    </div>
    <button type="button" class="btn btn-danger btn-lg">Hello <span class="glyphicon glyphicon-thumbs-up"></span></button>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>


</div>

<ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>

